@font-face {
    font-family: Inter-Regular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-SemiBold;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    max-width: 1440px;
    min-height: 100vh;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--Grey-900);
    color: var(--White);
}

.main-card{
    width: 38rem;
    height: 61rem;
    background-color: var(--Grey-800);
    padding: 3.5rem 4rem;
    border-radius: 1rem;
}

.main-card__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img{
    width: 9rem;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.main-text{
    font-family: Inter-SemiBold;
    font-size: 2rem;
    margin-bottom: 1.8rem;
}

.sub-text-1{
    font-family: Inter-SemiBold;
    font-size: 1.5rem;
    color: var(--Green);
    margin-bottom: 3rem;
}

.sub-text-2{
    font-family: Inter-Regular;
    font-size: 1.2rem;
    margin-bottom: 2.8rem;
}

.main-card__navigation a{
    display: block;
    width: 100%;
    height: 4.5rem;
    border-radius: 1rem;
    background-color: var(--Grey-700);
    margin-bottom: 1.5rem;
    color: white;
    text-decoration: none;
    font-family: Inter-Bold;
    font-size: 1.5rem;
    text-align: center;
    line-height: 5rem;
}

.main-card__navigation a:last-child{
    margin-bottom: 0;
}

.main-card__navigation a:hover {
    background-color: var(--Green);
    color: var(--Grey-900);
}

@media (max-width:375px) {
    .main-card{
        width: 33rem;
        padding: 2.5rem;
    }
}